//Up for debate: move these vars to _variables.scss or keep theme here 
$color-primary: pink;
$color-primary-dog: red;
$color-primary-cat: orange;
$themes: dog cat;


//Helper function  to return the color of a theme
@function theme-color($theme) {
  @if ($theme == dog){
    @return $color-primary-dog;
  }
  @elseif ($theme == cat){
    @return $color-primary-cat;
  }
}


@mixin theme-extend($property) {
  @extend %theme-#{$property}-default;
  @each $theme in $themes {
    .theme-#{$theme} & {
      @extend %theme-#{$property}-#{$theme};
    }
  }
}

@mixin theme($property){
  #{$property}: $color-primary;
  @each $theme in $themes {
    .theme-#{$theme} & {
      #{$property}: theme-color($theme);
    }
  }
}

//Build the placeholders that will be used by the extends
@each $property in background background-color color border-color {
  %theme-#{$property}-default {
    #{$property}: $color-primary;
  }
  @each $theme in $themes {
    %theme-#{$property}-#{$theme} {
      #{$property}: theme-color($theme);
    }
  }
}


//Usage: 
.header-navigation {
  @include theme-extend(background);
}
p {
  @include theme-extend(background);
}
li {
  @include theme-extend(background);
  @include theme-extend(border-color);
}
strong {
  @media screen and (max-width: 100px) {
    @include theme(background);
  }

}


